/* default font style */

@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/DroidArabicKufi.eot');
    src: url('../fonts/DroidArabicKufi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidArabicKufi.woff2') format('woff2'),
        url('../fonts/DroidArabicKufi.woff') format('woff'),
        url('../fonts/DroidArabicKufi.ttf') format('truetype'),
        url('../fonts/DroidArabicKufi.svg#DroidArabicKufi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Arabic Kufi Bold';
    src: url('../fonts/DroidArabicKufi-Bold.eot');
    src: url('../fonts/DroidArabicKufi-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidArabicKufi-Bold.woff2') format('woff2'),
        url('../fonts/DroidArabicKufi-Bold.woff') format('woff'),
        url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype'),
        url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
	font-family: "Greta Arabic Regular";
	src: url("../fonts/Greta_Arabic_Regular.otf");
}

@font-face {
	font-family: "ITCHandelGothicArabic-Bold";
	src: url("../fonts/ITCHandelGothicArabic-Bold.ttf");
}



/* Reset ================================================================================= */

*{margin:0;padding:0}
body{font-family: 'Droid Arabic Kufi'; font-weight:400; font-size:14px; color:#333; line-height:18px;}
a {text-decoration:none;	background-color: transparent; color:inherit; -webkit-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer; border:none; -webkit-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
:focus{outline:none;}
a:focus{outline:none; text-decoration:none;}
a:hover { text-decoration:none;}

.none{display:none !important;}

/* Headings */
h1,h2,h3,h4,h5,h6 { margin:0; line-height:normal; font-family: 'Droid Arabic Kufi Bold'; }
h1{ font-size:40px; font-weight:normal; }
h2{ font-size:40px; font-weight:normal; line-height:40px; color:#da9e29; margin-bottom:15px; }
h3{ font-size:16px; font-weight:normal; }
h4{ font-size:14px; font-weight:normal; }
h5{ font-size:22px; font-weight:normal; margin-bottom: 30px;     margin-top: 10px; }
h6{ font-size:14px; font-weight:normal; }

/* Forms */
form        { display:inline;}
fieldset     { border:0; }
legend      { display:none; }

/* Table */
table { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Lists */
ol{list-style:inside	; margin: 0;}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

/* Global Styles ========================================================================= */

.wrapper {
	width: 100%;
	padding: 20px 0 0 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
}

ol li {
	counter-increment: my-awesome-counter;
	margin-bottom: 5px;
	padding-right: 30px;
	position: relative;
}

ol li::before {
	content: counter(my-awesome-counter);
	margin-left: 15px;
	position: absolute;
	right: 0;
}

.text-right {
	text-align: right;
}

p {
	margin-bottom: 15px;
}

.bold-hr {
	width: 100%;
	display: inline-block;
	background-color: #333;
	height: 5px;
	margin: 20px 0;
}

.top-left {
	width: 75%;
	text-align: left;
	float: left;
}

.top-left-header {
	width: 50%;
	text-align: left;
	float: left;
}

.top-left p {
	margin: 14px 0;
}

.top-right {
	width: 25%;
	text-align: right;
	float: right;
}

.top-right-header {
	width: 50%;
	text-align: right;
	float: right;
}

.top-right img,
.lady-photo img {
	max-width: 100%;
}

.intro-block {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
}

.section-content .container .content-block p,
.intro-block p {
	font-family: 'Scheherazade', serif;
	text-align: justify;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

.section-content .container {
	margin-bottom: 20px;
}

.section-content .container .content-img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	width: 100%;
}

.section-content .container .content-block {
	padding: 20px;
}
.section-content .container .content-block .content-img  {
	margin-top:20px;
}
.content-block h2 {
	margin-bottom: 20px;
	font-size: 32px;
	color: #ffffff;
	line-height: 46px;
	font-family: 'ITCHandelGothicArabic-Bold';

}

.light-purple-block .content-block h2 {
	color: #da9e29;
}

.gray-block .content-block h2 {
	color: #333333;
}

.content-block h3 {
	font-size: 20px;
	color: #333333;
	line-height: 30px;
	font-family: 'ITCHandelGothicArabic-Bold';
}

.yellow-block .content-block h3 {
	color: #000000;
}

.light-purple-block .content-block h3,
.purple-block .content-block h3 {
	color: #ffffff;
}

.light-purple-block .content-block p,
.purple-block .content-block p {
	color: #ffffff;
}

.section-content .container .more-content {
	width: 100%;
	display: inline-block;
}

.section-content .container .more-content .content-block,
.blue-box .more-content .content-block {
	padding: 10px 20px;
}

.content-block .bottom-content {
	width: 100%;
	padding: 20px 0;
}

.section-content .container .highlight-block {
	background-color: #F5F5F5;
	margin: 10px 0 15px 0;
	width: 100%;
	display: inline-block;
}

.section-content .container .highlight-block p {
	padding-left: 15px;
	padding-right: 15px;
	color: #000000;
}

.section-content .yellow-block {
	background-color: #DA9E29;
}

.section-content .light-purple-block {
	background-color: #7A6FA7;
}

.section-content .turquoise-block {
	background-color: #00C0C0;
}

.section-content .pink-block {
	background-color: #FF8080;
}

.section-content .gray-block {
	background-color: #C7C8CA;
}

.section-content .gray-block {
	background-color: #C7C8CA;
}

.section-content .purple-block {
	background-color: #6958A6;
}

.blue-box {
	background-color: #080082;
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
}

.blue-box h2 {
	margin-bottom: 10px;
	font-size: 76px;
	line-height: 80px;
	color: #ffffff;
}

.blue-box h3 {
	color: #38f85a;
	margin: 0;
	font-size: 48px;
	line-height: 50px;
}

.blue-box button.collapsible img {
	width: 50px;
	height: 50px;
}

.video_box video {
	width: 100%;
}

.collapsible {
	color: #ffffff;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	font-size: 18px;
	background-color: transparent;
	font-family: 'Scheherazade', serif;
	font-weight: 700;
}

.collapsible.active {
	color: #ffffff;
}

.collapsible:hover {
	color: #ffffff;
}

.collap-content {
	display: none;
	overflow: hidden;
	padding: 10px 0;
}

.collap-content h3.title-bar {
	background-color: #333333;
	color: #ffffff;
	text-align: right;
	padding: 6px 15px;
	font-family: 'Droid Arabic Kufi Bold';
	margin-bottom: 15px;
}

.purple-block .collap-content h3.title-bar {
	background-color: #b4acd3;
}

.gray-block .content-block h3.title-bar {
	background-color: #8D7E6B;
}

.footer {
	margin-top: 0px;
	background-color:#DB9E28;
	padding:15px;
} 
.footer table{
	width:100%;
}
.footer table td {
	vertical-align:middle;
}
.footer .footer_left p{
	margin:0;
	font-size: 14px;
	color:#000000;
}
.footer .footer_left p a {
	font-weight: Bold;
    display: inline-block; 
} 
.social-media {
	list-style:none;
	margin:0;
	padding:0; 
	text-align:center;
}
.social-media li {
	display:inline-block;
	padding:0 5px;
}
.social-media li a {
	display:inline-block;
}
.social-media li a img {
	width:20px;
}
.footer .footer_right p{
	margin:0;
	font-size: 14px;
	color:#000000;
	text-align:right;
}
.btn-singel {
	margin-bottom:20px;
	text-align:center;
}
.btn-singel .close_btn {
	background-color:#cccccc;
	padding:8px 20px;
	font-size:16px;
	color:#333333;
	width:100%;
	text-align:center;

}

.footer_left{text-align:center;}
.footer_right{
	font-family: 'Droid Arabic Kufi Bold';
}

@media (min-width:768px) {
	.container {
		width: 700px
	}
}

@media (max-width:767px) {
	.container {
		width: 80%;
		margin: 0 10%;
	}
}

@media (max-width:640px) {
	.container {
		width: 90%;
		margin: 0 5%;
	}
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 96%;
}

.col-1-sm {
	width: 4.33%;
}

.col-2-sm {
	width: 12.66%;
}

.col-3-sm {
	width: 21%;
}

.col-4-sm {
	width: 29.33%;
}

.col-5-sm {
	width: 37.66%;
}

.col-6-sm {
	width: 46%;
}

.col-7-sm {
	width: 54.33%;
}

.col-8-sm {
	width: 62.66%;
}

.col-9-sm {
	width: 71%;
}

.col-10-sm {
	width: 79.33%;
}

.col-11-sm {
	width: 87.66%;
}

.col-12-sm {
	width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
	display: none;
}

@media only screen and (min-width: 640px) {
	/* 720px */
	.col-1 {
		width: 4.33%;
	}
	.col-2 {
		width: 12.66%;
	}
	.col-3 {
		width: 21%;
	}
	.col-4 {
		width: 29.33%;
	}
	.col-5 {
		width: 37.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 54.33%;
	}
	.col-8 {
		width: 62.66%;
	}
	.col-9 {
		width: 71%;
	}
	.col-10 {
		width: 79.33%;
	}
	.col-11 {
		width: 87.66%;
	}
	.col-12 {
		width: 96%;
	}
	.hidden-sm {
		display: block;
	}
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: " "
}

.clearfix:after {
	clear: both
} 
@media (max-width: 640px) {
	.top-left p {
		text-align: right;
		margin-bottom: 0
	}
	.content-block h3 {
		margin-bottom: 20px;
	}
	.section-content .container {
		margin-bottom: 20px;
	}
	.section-content .col-6 {
		width: 100%;
	}
	.top-left p {
		text-align: center;
	}
	.top-right {
		text-align: center;
	}
	.section-content .container .content-block .content-img img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		width: 100%; 
	}
	.section-content .container .content-img.mobile_hide  {
		display:none;
	}  
	.blue-box h2 {
		font-size:38px;
		line-height: 38px;
	}
	.blue-box h3 {
		font-size:24px;
		line-height: 24px;
	}
	.blue-box button.collapsible img {
		width: 50px;
		height: 50px;
	}
	.social-media li a img {
		width: 20px;
	}
	.blue-box {
		padding-top:40px;
	}
	.section-content .container .content-block,
	.content-block .bottom-content{
		padding-bottom:0px;
	}
	.section-content .container .content-block p:last-child{margin-bottom:0;}
}
@media (min-width: 641px) {
	.section-content .container .content-block .content-img.mobile_show  {
		display:none;
	} 
}
@media (max-width: 420px) {
	.social-media li {
		padding:0 1px;
	}
	.footer {
		padding-left:7px;
		padding-right:7px;
	}
}
@media (min-width: 640px) {
	.section-content .col-6 {
		float: left;
	}
	.section-content .container {
		position: relative;
	}
	.section-content .col-5 {
		float: right;
	}
	
}
@media (max-width: 390px) {
	.footer .footer_left p, .footer .footer_right p {
		font-size:10px;
	}
	
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
